<div class="descriptionWrapper">

    {{>projList description=true}}

    <div class="descriptionItem">
        <a href="/{{selectedProject.directory}}">
            <h1>{{selectedProject.title}}</h1>
            <img class='description' src="../{{selectedProject.directory}}/screenshot.jpeg"
                alt="{{selectedProject.title}} screenshot">
        </a>
        <p>{{selectedProject.description}}
        </p>
    </div>
</div>